{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Projects</h1>
<p>Here are some of the projects I have worked on:</p>
{% if projects %}
{% for item in projects %}
    <div class="container">
        <div class='card'>
            <p><b>{{ item.name }}</b></p>
            <p><b>{{ item.description }}</b></p>
            <a href="{{ item.link_github }}" class='link' target="_blank">
                <img src="{% static 'images/github.svg' %}" alt="ícone do github" class='icon'>
                <p><b>Github</b></p>
            </a>
            <img src="{% static item.tecnology  %}" alt="plano de fundo do projeto" class="tec">
        </div>
        {% if item.image %}
            <img src="{{item.image.url}}" alt="plano de fundo do projeto" class="back-project">
        {% else %}
            <img src="{% static item.tecnology  %}" alt="plano de fundo do projeto" class="back-project-default">
        {% endif %}
        {% comment "Quando o model pedir um background par ao usuario" %}
        {% endcomment %}
    </div>
{% endfor %}
{% else %}
    <div class='card'>
        <p>No projects!</p>
    </div>
{% endif %}
{% endblock content %}