{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="column">
        <h1>{{name}}</h1>
        <p>Welcome to my website! Here you can find information about me and my projects.</p>
        <p>Feel free to explore the menu and contact me if you have any questions.</p>
        
        <h2>Bio:</h2>
        <div class="bio">{{bio}}</div>

        <h2>Contact:</h2>
            
        <div class="row row-contact">
            <p>Email:</p> <p>{{email}}</p>
        </div>
        <div class="row row-contact">
            <p>WhatsApp:</p> <p> {{phone}}</p>
        </div>

    </div>
    <div class="column">
        
        <img src="{% static 'images/minha_imagem_sem_filtro.png' %}" alt="minha foto" class='imagem'>
        
        <h2>Social Media:</h2>
        <div class="row">
            <a href="{{github}}" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'images/github.svg' %}" alt="logo github" class='icon'>
            </a>
            <a href="{{linkedin}}" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'images/linkedin.png' %}" alt="logo linkedin" class='icon'>
            </a>
        </div>
    </div>
    
{% endblock content %}
