{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="column">
        <h1>{{name}}</h1>
        <p>Welcome to my website! Here you can find information about me and my projects.</p>
        <p>Feel free to explore the menu and contact me if you have any questions.</p>
        
        <h2>Bio:</h2>
        <div class="bio">{{bio}}</div>
        
        <h2>Experience</h2>
        <div class="bio">
            Atualmente, sou monitor de Arquitetura de Computadores na UERJ-ZO.<br>
            Ministro as monitorias de forma a individualizar as demandas dos alunos.
        </div>
        

    </div>



    <div class="column">
        
        <img src="{% static 'images/minha_imagem_sem_filtro.png' %}" alt="minha foto" class='imagem'>
        
        <h2>Social Media:</h2>
        <div class="row">
            <a href="{{github}}" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'images/github.svg' %}" alt="logo github" class='icon'>
            </a>
            <a href="{{linkedin}}" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'images/linkedin.png' %}" alt="logo linkedin" class='icon'>
            </a>
        </div>
    </div>
    <div class="column">

        <h2>Tecnologies</h2>
        <div class="row-wrap">
        
            <img src="{% static 'images/django.svg' %}" alt="Framework Django logo" class="imagem-selo">
            <img src="{% static 'images/flutter.svg' %}" alt="Framework Flutter logo" class="imagem-selo">
            <img src="{% static 'images/dart.svg' %}" alt="Linguagem Dart logo" class="imagem-selo">
            <img src="{% static 'images/selo_python.png' %}" alt="Selo de Certificado em Python" class="imagem-selo">
            <img src="{% static 'images/elephant.png' %}" alt="PostgreeSQL logo" class="imagem-selo">
            <img src="{% static 'images/git.png' %}" alt="GIT logo" class="imagem-git">
            <img src="{% static 'images/excel.jpg' %}" alt="Microsoft Excel logo" class="imagem-excel">


        </div>

    </div>
    <div class="column">
        <h2>Contact:</h2>
            
        <div class="row row-contact">
            <p>Email:</p> <p><b>{{email}}</b></p>
        </div>
        <div class="row row-contact">
            <p>WhatsApp:</p> <p><b>{{phone}}</b></p>
        </div>
    </div>

    
{% endblock content %}
