{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/remedy.css' %}">
    
    <title>{{name}}</title>
</head>
<body>
    <main class="main">
        {% include "partials/_menu.html" %}
        <div class= 'content-column'>
            {% block content %}{% endblock content %}
            {% include "partials/_footer.html" %}
        </div>
    </main>
</body>
</html>